<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wing.socialcontact.sys.dao.FinanceProductStockDao">
    <resultMap id="financeProductStock" type="java.util.HashMap">
        <result property="id" column="id" javaType="String" jdbcType="VARCHAR"></result>
        <result property="createDate" column="create_date"  jdbcType="DATE"></result>
    </resultMap>


    <select id="selectByParam" resultMap="financeProduct" parameterType="java.util.Map">
        select t.* from tjrb_finance_product t
    </select>
</mapper>

