<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wing.socialcontact.sys.dao.TjrbBpPersonDao">

    <resultMap id="TjrbBpPerson" type="java.util.Map">
        <result column="id" property="id"/>
        <result column="bp_name" property="bpName"/>
        <result column="org_no" property="orgNo"/>
        <result column="tendency" property="tendency"/>
        <result column="org_name" property="orgName"/>
        <result column="focus_on" property="focusOn"/>
        <result column="curriculum_vitae" property="curriculumVitae"/>
        <result column="title" property="title"/>
        <result column="update_date" property="updateDate"/>
        <result column="create_date" property="createDate"/>
        <result column="mobile" property="mobile"/>
        <result column="area" property="area"/>
        <result column="position" property="position"/>

    </resultMap>

	<select id="selectByParam" resultMap="TjrbBpPerson" parameterType="java.util.Map">
        select * from tjrb_bp_person
    </select>
</mapper>