@charset "utf-8";
/* CSS Document */
body{
	 overflow:scroll;
   height:100%;
   background:#f3f4f6;
}
.wrapper{
      box-sizing:border-box;
      width:100%;
      font-size:0.3rem;
      margin:0 auto;
      padding-bottom:1.2rem;
        ;
      font-family:"微软雅黑";
      padding-top:0.01rem;
     
      position:relative;

  
}

a{
    color:#808080;
}
.clear{

     clear:both;
}
.allclass-box{
    border-top:1px solid #e6e6e6;
    border-bottom:1px solid #e6e6e6;
    width:100%;
    margin-bottom:0.2rem;
    background:white

}
.allclass-box h3{

    font-size:0.32rem;
    width:100%;
    background:#e6e6e6;
    height:1rem;
    line-height:1rem;
    text-align:center;

}
.allclass-box .class-item{
     box-sizing:border-box;
     border-bottom:1px solid #e6e6e6;
    width:50%;
    height:1.5rem;
    float:left;
    text-align:center;

}

.allclass-subBox div:nth-of-type(odd){
    border-right:1px solid #e6e6e6;
   
}
.allclass-subBox div:nth-of-type(even){
  
}
.allclass-box .class-item span{
   box-sizing:border-box;
   display:block;


}
.allclass-box .class-item span:nth-child(1){
   margin-top:0.3rem;
}
.allclass-box .class-item span:nth-child(2){
   margin-top:0.1rem;
   font-size:0.24rem;
}