@charset "utf-8";
.h_tit{
	display: flex;
	width: 100%;
	height: .8rem;
	font-size: .30rem;
	padding:0 .15rem;
	box-sizing: border-box;
	background: #fff;
}
.h_tit h3{
	width:25% ;
	line-height: .80rem;
	text-align: center;
	box-sizing: border-box;
	font-weight: normal;
}

.h_tit h3.h_active{
	color: #0f88eb;
	border-bottom: 2px #0f88eb solid;
}
.p-content{
	width: 100%;
	margin-top: .10rem;
}

.pl{
	width: 100%;
	padding: .30rem .30rem .06rem .30rem;
	background: #fff;
	box-sizing: border-box;
	font-size: .26rem;
	color: #8B8B8B;
}
.pl textarea{
	width: 100%;
	height: 2.2rem;
	border: 0;
	border-bottom: 1px #f2f3f4 solid;
	resize: none;
	font-size: .26rem;
}
.pl p{
	width: 100%;
	height: .60rem;
	line-height: .60rem;
	text-align: end;
}


.photo {
	box-sizing: border-box;
	width: 100%;
	padding: 0 .3rem;
	background: #fff;
}

.p-head {
	box-sizing: border-box;
	height: .78rem;
	width: 100%;
	color: #3b3b3b;
	background: #f2f3f4;
	font-size: .28rem;
	line-height: .78rem;
}
.p-head h3 { width:50%; float:left; text-align:center; line-height: .78rem; font-weight:normal; color: #999;}
.p-head h3.hv{ background:#eaeaea; color: #3b3b3b;}

.imagess {
	height: 1.75rem;
	width: 1.75rem;
	background: #e0e0e0;
	text-align: center;
	line-height: 1.75rem;
	font-size: .30rem;
	position: relative;
}
.imagess i{
	position: absolute;
	left: 1.54rem;
	top: -.2rem;
	width: .40rem;
	height: .40rem;
	background-image:url(../img/images/delete.png);
	background-size:100% ;
	border-radius: 100%;
}
.addimagess {
	height: 1.75rem;
	width: 1.75rem;
	background: url(../img/images/addphoto.png) no-repeat center;
	background-size: 100%;
	/*margin-top: .40rem;*/
}

.photo-oper {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: .20rem;
	padding-bottom: .20rem;
	box-sizing: border-box;
	border-bottom: 1px #f2f3f4 solid;
}
.photo .yy{
	width: 100%;
	height: .80rem;
	display: flex;
	justify-content: center;
	align-items: center;
}
.photo .yy img{
	width: .38rem;
	height: .42rem;
}
.label{
	width: 100%;
	padding: 0 .30rem;
	background: #fff;
	box-sizing: border-box;
	margin-top: .20rem;
}
.label .lx{
	width: 100%;
	height: .76rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	border-bottom: 1px #f2f3f4 solid;
	font-size: .24rem;
}

/*发动态*/
.fm{
	width: 100%;
	height: 3rem;
	display: flex;
	flex-direction: column;
	font-size: .24rem;
	color: #8B8B8B;
	align-items: center;
	justify-content: center;
	background: #fff;
}

.fm img{
	width: 1.40rem;
	height: 1.40rem;
}
.fm span{
	line-height: .60rem;
}
.action{
	width: 100%;
	padding: 0 .30rem;
	box-sizing: border-box;
	background: #fff;
	font-size: .24rem;
	color: #8B8B8B;
}
.action input{
	width: 100%;
	height: .70rem;
	font-size: .24rem;
	border-bottom: 1px #f2f3f4 solid;
}
.action .t-img{
	padding: .20rem 0;
	box-sizing: border-box;
	border-bottom: 1px #f2f3f4 solid;
}
.action .t-img textarea{
	width: 100%;
	height: 1.65rem;
	font-size: .24rem;
	resize: none;
	border: 0;
	/*border-bottom: 1px #f2f3f4 solid;*/
}
/*.action .t-img div{
	display: inline-block;
	font-size: 0;
}*/
#vv{
	display: flex;
}
.action .t-img .images {
	
	height: 1.30rem;
	width: 1.30rem;
	background: #e0e0e0;
	text-align: center;
	line-height: 1.30rem;
	font-size: .30rem;
}

.action .t-img .imgpng {
	height: 1.30rem;
	width: 1.30rem;
	background: url(../img/images/addphoto.png) no-repeat center;
	background-size: 100%;
	margin-left: .60rem;
}
.action p{
	line-height: .48rem;
	text-align: end;
}

.leibie{
	width: 100%;
	padding-left: .30rem;
	background: #fff;
	box-sizing: border-box;
	margin-top: .10rem;
}
.leibie .items{
	font-size: .24rem;
	border-bottom: 1px #f2f3f4 solid;
	box-sizing: border-box;
	height: .76rem;
	display: flex;
	justify-content: space-between;
}
.leibie .items p{
	line-height: .76rem;
}
.leibie .items .it-r{
	display: flex;
	justify-content: space-between;
	width: 4.95rem;
	padding-right: .30rem;
}
.leibie .items .it-r input{
	font-size: .24rem;
	color: #8B8B8B;
	background:none;
}
.leibie .items .it-r .iconfont{
	font-size: .40rem;
	line-height: .76rem;
}
.leibie .items .it-r span{
	line-height: .76rem;
}
.leibie .items img{
	width: .95rem;
	height: .54rem;
	margin-top: .11rem;
}
.leibie .items .ON{
	margin-right: .30rem;
}

.cx{
	width: 100%;
	padding-left: .30rem;
	box-sizing: border-box;
	font-size: .24rem;
	background: #fff;
	margin-top: .10rem;
	margin-bottom: 1rem;

}

.cx .no {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: .30rem;
	border-bottom: 1px #f2f3f4 solid;
	box-sizing: border-box;
	height: .76rem;
}
.cx .no img{
	width: .95rem;
	height: .54rem;
}
.cx .no p{
	line-height: .76rem;
}
/*发合作*/
.hz_content{
	width: 100%;
	padding-left: .30rem;
	box-sizing: border-box;
	background: #fff;
}
.hz_content .h-items{
	width: 100%;
	height: .76rem;
	display: flex;
	justify-content: space-between;
	font-size: .24rem;
	border-bottom: 1px #f2f3f4 solid;
	padding-right: .30rem;
	box-sizing: border-box;
}
.hz_content .h-items p{
	line-height: .76rem;
}
.hz_content .h-items input{
	width: 5.54rem;
	font-size: .24rem;
	color: #8B8B8B;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.h-lb{
	width: 100%;
	height: .76rem;
	display: flex;
	justify-content: space-between;
	font-size: .24rem;
	border-bottom: 1px #f2f3f4 solid;
	padding-right: .30rem;
	box-sizing: border-box;
	align-items: center;
}
.s-fl{
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: .24rem;
	height: .76rem;
	font-size: .24rem;
	border-bottom: 1px #f2f3f4 solid;
	padding-right: .30rem;
	box-sizing: border-box;
}

.s-fl p{
	line-height: .76rem;
}

.s-rad{
	width: 5.5rem;
	height: .76rem;
	display: flex;
	font-size: .24rem;
	bordDer-bottom: 1px #f2f3f4 solid;
	box-sizing: border-box;
	align-items: center;
}

.s-rad input:nth-of-type(2){
	margin-left: 1.35rem;
}
input[type=radio]{
	width: .28rem;
	height: .28rem;
}
.y-items{
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: .24rem;
	height: .76rem;
	font-size: .24rem;
	border-bottom: 1px #f2f3f4 solid;
	padding-right: .30rem;
	box-sizing: border-box;
}
.y-items p{
	line-height: .76rem;
}
.time{
	display: flex;
	align-items: center;
	width: 5.54rem;
	height: .76rem;
}
.time input{
	
	font-size: .2rem;
	color: #8B8B8B;
	width: 2.5rem;
	
}
input[name=startTime],input[name=endTime]{
               height:0.5rem;
               border:none;
               background-color: rgba(255,255,255,0);
               -webkit-text-fill-color: rgba(139, 139, 139, 1);    
	           ouline:none; 
	           color:#8B8B8B;
	      }
.time input.yr{
	width: .42rem;
	text-align: center;
}
.time span{
	line-height: .76rem;
}
.x-items{
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: .24rem;
	height: .76rem;
	font-size: .24rem;
	border-bottom: 1px #f2f3f4 solid;
	padding-right: .30rem;
	box-sizing: border-box;
}

.x-items p{
	line-height: .76rem;
}
.tex{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 5.54rem;
	height: .76rem;
}
.tex input{
	font-size: .24rem;
	color: #8B8B8B;
}
.tex span{
	color: #8B8B8B;
}
/*PK话题*/

.pk-con{
	width: 100%;
	padding: 0 .30rem;
	background: #fff;
	font-size: .24rem;
	box-sizing: border-box;
	padding-top: .10rem;
}
 .pk-con p{
 	line-height: .46rem;
 }
 .pk-con textarea{
 	height: .92rem;
 	border: 0;
 	resize: none;
 }
 .pk-con textarea{
 	width: 100%;
 	font-size: .24rem;
 	color: #8B8B8B;
 	border-bottom: 1px #f2f3f4 solid;
 	box-sizing: border-box;
 }
 .pk-con input{
 	height: .52rem;
 	text-align: start;
 	padding-bottom: .1rem;
 	width: 100%;
 	font-size: .24rem;
 	color: #8B8B8B;
 	border-bottom: 1px #f2f3f4 solid;
 	box-sizing: border-box;
 }
.submit {
	background: #1087eb;
	height: 0.9rem;
	color: white;
	font-size: 0.36rem;
	text-align: center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	line-height: 0.9rem;
}
.p-content{
	display: none;
}
.p-content.show{
	display: block;
}
.fb_yyt_tu i{
	position: absolute;
	left: .48rem;
	top: -.2rem;
	width: .40rem;
	height: .40rem;
	background-image:url(../img/images/delete.png);
	background-size:100% ;
	border-radius: 100%;
}
/*添加*/
.fb_box { border-bottom:1px solid #f3f3f3;}
.fb_yyt_m { font-size:.32rem; float:left; line-height:0.68rem; margin-left:0.28em;margin-top:0.2rem}
.fb_yyt_tu {border:1px solid #4ED34F; height:0.68em; border-radius:0.06em; width:10%; float: left;position:relative;margin-top:0.2rem}
.fb_yyt_tu img { width:.38rem; height:.38rem; float:left; display:block; margin-top:0.15em; margin-left:0.1em;}
.fb_speak .fb_speak_p { display:block; text-align:center; font-size: .3rem; line-height:1.0rem;}
.fb_speak .fb_speak_bt { height:2.48em; display:block; text-align:center; background:url(../img/images/yuyin2_03.png) no-repeat center; background-size:1.75em; }
.fb_speak .fb_speak_bt div { width:2.48em; height:2.48em; }
.fb_speak .fb_speak_bt2 { height:2.48em; display:block; text-align:center; background:url(../img/images/12.gif) no-repeat center; background-size:2.48em;}
.fb_speak .fb_speak_bt2 div { width:2.48em; height:2.48em;}
.photo .fb_ptb { width: 100%; display:block; padding:.3rem 0;}
.fb_ptb .fb_ptb_shu { font-size:.24rem;}
.fb_ptb .fb_ptb_shu input { background:#f2f2f2; /* border:1px solid #dbdbdb; */ width:30%; height:.45rem; margin:0 0.1rem; text-align:center;}
.fb_ptb .fb_ptb_ts { font-size:.22rem; margin-top:0.2rem; color:#999;}
.ul-hide{
	width: 100%;
}
.ul-hide li{
	width: 100%;
	float: left;
	display: none;
	background: #fff;
	margin-bottom: .88rem;
}
.ul-hide li.show-active{
	display: block;
}
.hz_content .hz-con{
	width: 100%;
	justify-content: space-between;
	font-size: .24rem;
	border-bottom: 1px #f2f3f4 solid;
	padding-right: .30rem;
	box-sizing: border-box;
}
.hz-con textarea{
 	height: .92rem;
 	border: 0;
 	resize: none;
 }
.hz-con textarea{
 	width: 100%;
 	font-size: .24rem;
 	color: #8B8B8B;
 	border-bottom: 1px #f2f3f4 solid;
 	box-sizing: border-box;
 }
 .C-z{
 	width: 100%;
	height: 1rem;
	font-size: .30rem;
	background: #FF801B;
	color: #fff;
	text-align: center;
	line-height: 1rem;
 }
