

html,body {
	font-size:100% ; 
	width:100%; 
	height:100%;
	line-height:normal;   
	word-wrap:break-word;
	word-break:break-all; 
	font-family: arial,宋体,sans-serif;
}

a {
	text-decoration: none;
}
.div_titlebold{
	margin-top:10px;
	margin-bottom:10px;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
}
.div_sendUser{
	float:right;
	margin-right: 20px;
	color: #666666
}

/* zTree拓展样式 */

/*展开 合并 箭头作为图标*/
.ztree li span.button.mypoint_ico_open{
	margin-right:2px; 
	background: url(../js/zTree/zTreeStyle/img/diy/blue_expanded.png) no-repeat scroll 0 0 transparent; 
	vertical-align:top; 
	*vertical-align:middle
}
.ztree li span.button.mypoint_ico_close{
	margin-right:2px; 
	background: url(../js/zTree/zTreeStyle/img/diy/blue_right.png) no-repeat scroll 0 0 transparent; 
	vertical-align:top; 
	*vertical-align:middle
}
/*展开 合并 作为图标*/
.ztree li span.button.folder_ico_open{
	margin-right:2px;  
	background:url(../js/zTree/zTreeStyle/img/zTreeStandard.png) no-repeat scroll -110px -16px transparent; 
	*background:url(../js/zTree/zTreeStyle/img/zTreeStandard.gif) no-repeat scroll -110px -16px transparent; 
	*vertical-align:middle;
	background-position:;
}
.ztree li span.button.folder_ico_close{
	margin-right:2px; 
	background:url(../js/zTree/zTreeStyle/img/zTreeStandard.png) no-repeat scroll -110px 0 transparent; 
	*background:url(../js/zTree/zTreeStyle/img/zTreeStandard.gif) no-repeat scroll -110px 0 transparent; 
	vertical-align:top; 
	*vertical-align:middle;
}
.ztree li span.button.folder_ico_docu{
	margin-right:2px; 
	background:url(../js/zTree/zTreeStyle/img/zTreeStandard.png) no-repeat scroll -110px -16px transparent; 
	*background:url(../js/zTree/zTreeStyle/img/zTreeStandard.gif) no-repeat scroll -110px -16px transparent; 
	vertical-align:top; 
	*vertical-align:middle;
}


div.editor{
	border: none;
}

/* 流程表单样式   */
table.flowtable{
	width: 600px;
	border-collapse:collapse;
	margin: 10px auto 10px;
	border: 1px solid black;
	height: auto;
}
table.flowtable caption{
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
}
table.flowtable th{
	border: 1px solid black;
	padding: 10px;
	font-weight: bold;
	text-align:center;
}
table.flowtable td{
	border: 1px solid black;
	padding: 10px;
}

table.flowtable textarea{
	width: 90%;
	height: 30px;
}
table.flowtable input{
	width: 90%;
}


.btnDel{
	background:url(../images/small/Delete_16x16.png) no-repeat; 
	display:block; 
	width:22px;
	height:20px; 
	margin-top: 1px;
	margin-left: 2px;
	
}
.btnDelete{
	background:url(../images/small/Delete_16x16.png) no-repeat; 
	display:inline-block;
	width:22px;
	height:20px; 
	margin-top: 1px;
	margin-left: 2px;
	
}

.ul-menu{
	margin: 1px 0 0;
	padding:0;
	list-style: none outside none;
}

li .ul-submenu{
	display:none;
	margin: 0 0 0 20px;
	padding:0;
	list-style: none outside none;
	
}

.ul-menu>li>a , .ul-submenu>li>a{
    border: 1px solid #95B8E7;
    display: block;
    margin: 0 0 -1px;
    padding: 5px 10px;
    background-color:#f9f9f9;
    color: black;
    text-decoration: none;
	cursor: pointer;
	
}

i.f-right{
	float: right;
    margin-right: -6px;
    margin-top: 2px;
    opacity: 0.25;
}

/*提示框*/
.widget-tiper{ display: none; position: fixed; z-index: 100001; max-width: 4.5rem; width: 4.5rem; /* height:2.4rem; */ font-size:.30rem}
.widget-tiper .widget-tiper-inner{ background-color: #fff; border-radius: 0.2rem; }
.widget-tiper .tiper-head{ /* height: .6rem; line-height: .6rem; */ text-align: center; /* font-size: 12px; */ padding-top:.20rem;font-weight: bold; }
.widget-tiper .tiper-body{ /* line-height: 1.6em; */ text-align: center; padding: .05rem .30rem .2rem; font-size: .24rem; }
.widget-tiper .tiper-foot{ border-top: 1px solid #E3E3E5; }
.widget-tiper .tiper-button{ color: #077DFF; display: inline-block; width: 50%;  height: .78rem; line-height: .78rem; text-align: center; /* border-radius: 0 0 12px 12px;font-size: 12px; */ }
.widget-tiper .tiper-button:active{ background-color: #f1f1f1; }
.widget-tiper .tiper-button.alert_t{ width: 100%; }
.widget-tiper .tiper-button.cancel_t{ width: 50%; }
.widget-tiper .tiper-button.define_t{ width: 50%; }
.widget-tiper .tiper-button+.tiper-button{
	border-left: 1px solid #E3E3E5;
	    box-sizing: border-box;
}
.widget-tiper-mask{ display: none; background-color: rgba(0,0,0,.6); position: fixed; left: 0; top: 0; width: 100%; height: 100%; z-index: 100000; }
.widget-tiper-mask.widget-tiper-active{ display: block; }
.widget-tiper.widget-tiper-active{ display: block; }



