<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

	<property name="encoder.pattern"
		value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n"></property>

	<appender name="console" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>${encoder.pattern}</pattern>
		</encoder>
	</appender>
	<appender name="rollingFile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<append>true</append>
		<file>../log/rongba/rongba.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>../log/ureactor/ureactor.%d{yyyyMMdd}.%i.log</fileNamePattern>
			<maxHistory>30</maxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder>
			<pattern>${encoder.pattern}</pattern>
		</encoder>
	</appender>

	<logger name="org.springframework" level="INFO" />
	<logger name="com.ureactor" level="DEBUG" />

	<root level="INFO">
		<appender-ref ref="console" />
		<appender-ref ref="rollingFile" />
	</root>
</configuration>
