<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true" scan="true" scanPeriod="30 seconds">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<!-- 按日期区分的滚动日志 -->
	<appender name="ERROR-OUT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- <file>d:/logs/wxconsole/error.log</file> -->
		<file>/data/logs/wxconsole/error.log</file>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>error.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>
	<!-- 按文件大小区分的滚动日志 -->
	<appender name="INFO-OUT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- <file>d:/logs/wxconsole/info.log</file> -->
		<file>/data/logs/wxconsole/info.log</file>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>INFO</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>info.%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>3</maxIndex>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy>
	</appender>
	<!-- 按日期和大小区分的滚动日志 -->
	<appender name="DEBUG-OUT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- <file>d:/logs/wxconsole/debug.log</file> -->
		<file>/data/logs/wxconsole/debug.log</file>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>DEBUG</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>debug-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>


	<!-- 级别阀值过滤 -->
	<appender name="SUM-OUT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/sum.log</file>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
		</encoder>
		<!-- deny all events with a level below INFO, that is TRACE and DEBUG -->
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>debug-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

    <logger name="com.wing" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="DEBUG-OUT" />
    </logger>
    <logger name="c.w" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="DEBUG-OUT" />
    </logger>
    <logger name="com" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ERROR-OUT" />
    </logger>
    <logger name="org" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ERROR-OUT" />
    </logger>
    <logger name="o" level="ERROR" additivity="false">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ERROR-OUT" />
    </logger>


	<root level="error">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="ERROR-OUT" />
		<appender-ref ref="INFO-OUT" />
		<appender-ref ref="DEBUG-OUT" />
		<appender-ref ref="SUM-OUT" />
	</root>
</configuration>