<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tojoy.service.console.dao.MenuMyDao">
    <resultMap id="BaseResultMap" type="java.util.HashMap" >
	    <id column="id" property="id" jdbcType="VARCHAR" />
	    <result column="_user_id" property="userId" jdbcType="VARCHAR" />
	    <result column="_menu_id" property="menuId" jdbcType="VARCHAR" />
	    <result column="_sort" property="sort" jdbcType="SMALLINT" />
	</resultMap>
	
    <select id="selectMyMenus" resultType="java.util.HashMap" parameterType="java.util.Map">
		SELECT 
			m.menu_name as name,m.menu_external as external,m.menu_icon as icon
			,m.menu_rel as rel,m.menu_target as target,m.menu_url as url
		FROM sy_menu_my t,sy_menu m 
		WHERE  t._menu_id=m.id and t._user_id=#{userId,jdbcType=VARCHAR}
    	<if test="menuStatus != null and menuStatus != ''">
			AND	m.menu_status = #{menuStatus,jdbcType=SMALLINT}
		</if>
 		
	</select>
	
	
</mapper>