<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.tojoycloud.dubbo.rongba.provider.mapper.BpPersonMapper">
	
	<sql id="bpPersonColumns">
		a.org_no AS "orgNo",
		a.bp_name  AS "bpName",
		a.tendency  AS "tendency",
		a.org_name AS "orgName",
		a.focus_on AS "focusOn",
		a.curriculum_vitae ="curriculumVitae",
		a.title AS "title",
		a.create_date AS "createDate",
		a.update_date AS "updateDate"
	</sql>
	
	<sql id="bpPersonJoins">
	</sql>
    
	<select id="get" resultType="org.tojoycloud.dubbo.rongba.api.entity.BpPerson">
		SELECT 
			<include refid="bpPersonColumns"/>
		FROM tjrb_bp_person a
		<include refid="bpPersonJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="org.tojoycloud.dubbo.rongba.api.entity.BpPerson">
		SELECT 
			<include refid="bpPersonColumns"/>
		FROM tjrb_bp_person a
		<include refid="bpPersonJoins"/>
				ORDER BY a.id DESC
	</select>
	
</mapper>