<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.tojoycloud.dubbo.rongba.provider.mapper.FinanceProductStockMapper">
	
	<sql id="financeProductStockColumns">
		a.id AS "id",
		a.product_status AS "productStatus",
		a.product_detail AS "productDetail",
		a.product_name   AS "productName",
		a.strengths    AS "strengths",
		a.team_desc    AS "teamDesc",
		a.industry     AS "industry",
		a.desc_pic_url  AS "descPicUrl",
		a.contract_phone  AS "contractPhone",
		a.contract_name   AS "contractName",
		a.region  AS "region",
		a.cooperation_type   AS "cooperationType",
		a.introduce  AS "introduce",
		a.org_name   AS "orgName",
		a.expected_amount  AS "expectedAmount",
		a.ratio   AS "ratio",
		a.is_show  AS "isShow",
		a.is_recommend  AS "isRecommend",
		a.company_name AS "companyName",
		a.build_date  AS "buildDate",
		a.reg_location AS "regLocation",
		a.law_person  AS "lawPerson",
		a.create_date AS "createDate",
		a.update_date AS "updateDate"
	</sql>
	
	<sql id="financeProductStockJoins">
	</sql>
    
	<select id="get" resultType="org.tojoycloud.dubbo.rongba.api.entity.FinanceProductStock">
		SELECT 
			<include refid="financeProductStockColumns"/>
		FROM tjrb_finance_product_stock a
		<include refid="financeProductStockJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="org.tojoycloud.dubbo.rongba.api.entity.FinanceProductStock">
		SELECT 
			<include refid="financeProductStockColumns"/>
		FROM tjrb_finance_product_stock a
		<include refid="financeProductStockJoins"/>
		<where>
		</where>
				ORDER BY a.id DESC
	</select>
	
	
	<insert id="insert">
		INSERT INTO tjrb_finance_product_stock(
			ad_pic_url,
			product_id,
			ad_position,
			create_date,
			update_date
		) VALUES (
			#{adPicUrl},
			#{productId},
			#{adPosition},
			#{createDate},
			#{updateDate}		
		)
	</insert>
	
	<update id="update">
		UPDATE tjrb_finance_product_stock SET 	
			ad_pic_url = #{adPicUrl},
			product_id = #{productId},
			ad_position = #{adPosition},
			update_date = #{updateDate}
		WHERE id = #{id}
	</update>
	
	<update id="delete">
		UPDATE tjrb_finance_product_stock SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
</mapper>