<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.tojoycloud.dubbo.rongba.provider.mapper.InvestWillMapper">
	
	<sql id="investWillColumns">
		a.id AS "id",
		a.org_no  AS "orgNo",
		a.is_insure  AS "isInsure",
		a.invest_type  AS "investType",
		a.product_id  AS "productId",
		a.person_name  AS "personName",
		a.person  AS "person",
		a.create_date AS "createDate",
		a.update_date AS "updateDate"
	</sql>
	
	<sql id="investWillJoins">
	</sql>
    
	<select id="get" resultType="org.tojoycloud.dubbo.rongba.api.entity.InvestWill">
		SELECT 
			<include refid="investWillColumns"/>
		FROM tjrb_invest_will a
		<include refid="investWillJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="org.tojoycloud.dubbo.rongba.api.entity.InvestWill">
		SELECT 
			<include refid="investWillColumns"/>
		FROM tjrb_invest_will a
		<include refid="investWillJoins"/>
		<where>
		</where>
				ORDER BY a.id DESC
	</select>
	
	
	<insert id="insert">
		INSERT INTO tjrb_invest_will(
			org_no,
			is_insure,
			invest_type,
			product_id,
			person_name,
			person,
			create_date,
			update_date
		) VALUES (
			#{orgNo},
			#{isInsure},
			#{investType},
			#{productId},
			#{personName},
			#{person},
			#{createDate},
			#{updateDate}		
		)
	</insert>
	
	<update id="update">
		UPDATE tjrb_invest_will SET 	
			ad_pic_url = #{adPicUrl},
			product_id = #{productId},
			ad_position = #{adPosition},
			update_date = #{updateDate}
		WHERE id = #{id}
	</update>
	
	<update id="delete">
		UPDATE tjrb_invest_will SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
</mapper>