<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.tojoycloud.dubbo.rongba.provider.mapper.InvestProductInsureMapper">
	
	<sql id="investProductInsureColumns">
		a.id AS "id",
		a.product_status   AS "productStatus",
		a.product_detail   AS "productDetail",
		a.product_name     AS "productName",
		a.start_point      AS "startPoint",
		a.introduce        AS "introduce",
		a.invest_type      AS "investType",
		a.consultant       AS "consultant",
		a.org_name         AS "orgName",
		a.strengths1       AS "strengths1",
		a.strengths2       AS "strengths2",
		a.strengths3       AS "strengths3",
		a.strengths4       AS "strengths4",
		a.org_no           AS "orgNo",
		a.crowd_type       AS "crowdType",
		a.expected_return   AS "expectedReturn",
		a.ratio            AS "ratio",
		a.is_show           AS "isShow",
		a.is_recommend       AS "isRecommend",
		a.create_date AS "createDate",
		a.update_date AS "updateDate"
	</sql>
	
	<sql id="investProductInsureJoins">
	</sql>
    
	<select id="get" resultType="org.tojoycloud.dubbo.rongba.api.entity.InvestProductInsure">
		SELECT 
			<include refid="investProductInsureColumns"/>
		FROM tjrb_invest_product_insure a
		<include refid="investProductInsureJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="org.tojoycloud.dubbo.rongba.api.entity.InvestProductInsure">
		SELECT 
			<include refid="investProductInsureColumns"/>
		FROM tjrb_invest_product_insure a
		<include refid="investProductInsureJoins"/>
		<where>
			<if test="crowdType != null">
				AND a.crowd_type = #{crowdType}
			</if>
		</where>
				ORDER BY a.id DESC
	</select>
	
	
	<insert id="insert">
		INSERT INTO tjrb_invest_product_insure(
			ad_pic_url,
			product_id,
			ad_position,
			create_date,
			update_date
		) VALUES (
			#{adPicUrl},
			#{productId},
			#{adPosition},
			#{createDate},
			#{updateDate}		
		)
	</insert>
	
	<update id="update">
		UPDATE tjrb_invest_product_insure SET 	
			ad_pic_url = #{adPicUrl},
			product_id = #{productId},
			ad_position = #{adPosition},
			update_date = #{updateDate}
		WHERE id = #{id}
	</update>
	
	<update id="delete">
		UPDATE tjrb_invest_product_insure SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
</mapper>